/* src/App.css */
.App {
  text-align: center;
  background-color: #222;
  color: white;
  min-height: 100vh;
}

.App-header {
  background-color: #444;
  padding: 20px;
  margin-bottom: 20px;
  max-height: fit-content;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden; /* Hide horizontal scrollbar */

}

.App-header h1 {
  margin: 0;
}

