/* src/App.css */
.App {
  text-align: center;
  background-color: #222;
  color: white;
  min-height: 100vh;
}

.App-header {
  background-color: #444;
  padding: 20px;
  margin-bottom: 20px;
  max-height: fit-content;
}

.App-header h1 {
  margin: 0;
}
